*{
    box-sizing: border-box;
}



body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    
}

.page-wrapper{
    display: grid;
    grid-template-columns: repeat(14,minmax(0,1fr));
    grid-auto-rows: minmax(0,auto);
    grid-column-gap: 2em;
    grid-row-gap: 2em;
   
}

abbr[title] {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 1px 1px 0px #F9CECD, 
                  1.5px 1.5px 0px #F9CECD, 
                  2px 2px 0px #E5B5B3, 
                  2.5px 2.5px 0px #E5B5B3, 
                  3px 3px 0px #F9CECD, 
                  3.5px 3.5px 0px #E5B5B3, 
                  4px 4px 0px #F9CECD, 
                  4.5px 4.5px 0px #E5B5B3, 
                  5px 5px 0px #F9CECD;
}

h2 {
    font-size: 1.5rem;
    text-decoration: none;
}

h3{
    font-size: 1rem;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;   
}



p{
    font-size: .75rem;
    color: black;
}

a{
    color:lightslategray;
    
}

a:hover{
    color:#daa3a1;
}

/* Second Grid*/

section{
    grid-column: 1/15;
    grid-row:auto;

    display: grid;
    grid-template-columns: repeat(14,minmax(0,1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

section header{


    grid-column: 3/15;
    background-image:url(header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 65px 0 0 65px;
    padding-left: 3%;
    height: auto; 
    display: flex; 
    flex-direction: row; 
}

section header h1{
    color:white;

}

section header h2{
    padding-top: 3.5%;
    padding-left: 2%;
    color: black;
}

.summary{
    grid-column:2/14;
    grid-row: auto; 
    border-radius: 15px;
    padding: 5px;
    box-shadow:
        8px 8px 6px -4px  hsl(1, 79%, 89%),
        9px 10px 8px -4px hsl(0, 81%, 92%),
        12px 12px 10px -4px hsl(179, 68%, 65%),
        14px 14px 12px -4px hsl(179, 31%, 68%);
}

.summary p{
    padding-left: 9%;
}

.preamble{
    grid-column: 1/8;
    grid-row: auto;
    background-color:#7ECBCB;
    padding-left: 40%;
    padding-right: 16%;
    border-radius: 0 30px 30px 0;
    background-image: url(triangles-01.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 25%; 
 
}


/*Third Grid*/

#zen-supporting{
    grid-column: 1/15;
    grid-row: auto;

    display: grid;
    grid-template-columns: repeat(14,minmax(0,1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}



.explanation, .benefits{
    grid-column: 2/7;
    grid-row: auto; 
    padding-left: 22%;
    padding-right: 5%;
    border-radius: 15px;
    box-shadow:
        8px 8px 6px -4px  hsl(1, 79%, 89%),
        9px 10px 8px -4px hsl(0, 81%, 92%),
        12px 12px 10px -4px hsl(179, 68%, 65%),
        14px 14px 12px -4px hsl(179, 31%, 68%);
}

.benefits{
    grid-row: 2/5;
    background-image:url(triangle.png);
    background-repeat: no-repeat;
    background-position: 45% 90%;
    background-size: 76%;
}


.participation{
    grid-column: 8/15;
    grid-row: 2/5;
    position: relative;
    bottom: 5%;
    
    
}

.participation p{
    padding-right: 30%;
    padding-left: 2%;
}

.participation h3{
    background-image:url(participation.jpg);
    background-size: cover;
    border-radius: 45px 0 0 45px;
    padding:2% 2% 2% 2%;
}

.requirements{
    
    grid-column: 8/15;
    grid-row: 1/4;
    background-color: #F9CECD;
    padding-right: 47%;
    padding-left: 2%;
    position: relative;
    bottom: 55%;
    border-radius: 25px 0 0 25px;
    background-image:url(triangles-02.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 78%;
    
}

footer{
    grid-column: 1/15;
    grid-row: auto;
    background-color: #F9CECD;
    padding: 3% 3% 5% 60%;
    position: relative;
    top: 15%;
}

footer a{
    background-color:#F5EA9E;
    padding: 2%;
    border-radius: 10px;
    color: white;
    margin: 2%;
}

/*4th grid*/


aside{
    background-color:#7ECBCB;
    grid-column: 1/15;
    grid-row:auto;

    display:grid;
    grid-template-columns: repeat(14,minmax(0,1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    
    padding-bottom: 3%;
    
}

/*5th grid (inside 4th)*/

.wrapper{
    grid-column:1/15;
    grid-row: auto;

    display: grid;
    grid-template-columns: repeat(14,minmax(0,1fr));
    grid-column-gap: 2em;

    color: white;
}



.design-selection{
    grid-column: 5/15;
    grid-row: 1/6;
}

.design-selection h3{
    padding-left:36%;
}

.design-selection nav ul{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

.design-name{
   color: white;
}

.designer-name{
    color:white;
    text-decoration: none;
}

ul li{
    padding: .25%;
}


.wrapper a:hover{
    color: #F5EA9E;
}




.design-archives{
    grid-column: 3/6;
    grid-row: 1/3;
}

.design-archives a{
    color: white;
}


.zen-resources{
    grid-column: 3/6;
    grid-row: 3/6;
}

.zen-resources a{
    color: white;
}

/*tablet*/
@media only screen and (max-width: 600px){
    
    h3{
        font-size: 15px;
    }
    section{
        grid-column: 1/15;
        grid-row:auto;
    }

    section header{
        grid-column: 3/15;
        background-size: cover;
        flex-direction: column;
        padding:10% 0 0 5%;
        border-radius: 100px 0 0 100px;
    }

    section header h2{
        padding-left:5%;
        margin: 0;
        font-size: 1rem;
        position: relative;
        bottom: 15%;
    }

    section header h1{
        padding-left: 5%;
        font-size: 35px;
        position: relative;
        bottom: 10%;
        margin:0;
    }

    .preamble{
        grid-column: 1/15;
        grid-row: 3;
        border-radius: 0;
        background-size: 40%;
        background-position: 5%;
    }
    
    .requirements{
        grid-column: 1/15;
        grid-row: 3;
        border-radius: 0;
        bottom: 0;
    }

    .explanation, .benefits{
        grid-column: 2/14;
        grid-row: auto;   
    }

    .benefits{
        background-image:none;
        padding:5%;
        
    }

    .participation{
        grid-column: 1/15;
        padding-left: 10%;
        
    }

    

    .requirements{
        grid-column: 1/15;
        bottom: 0;
        grid-row:auto;
        background-image: none;
        padding: 12%;
    }
   
    footer{
        padding:3% 3% 3% 10%;
        top: 50%;
    }

    .design-selection{
        grid-column: 1/15;
        grid-row:auto;  
    }

    .design-selection h3{
        padding-left: 20%;
    }

    .design-archives{
        grid-column:3/15;
        grid-row: auto;
        padding-left: 5%;
    }

    .zen-resources{
        grid-column: 3/15;
        grid-row: 3/6;
        padding-left: 5%;
    }


}

/*mobile*/
@media only screen and (max-width: 375px){
    
    h3{
        font-size: 15px;
    }
    section{
        grid-column: 1/15;
        grid-row:auto;
    }

    section header{
        grid-column: 3/15;
        background-size: cover;
        flex-direction: column;
        padding:10% 0 0 5%;
        border-radius: 100px 0 0 100px;
    }

    section header h2{
        padding-left:5%;
        margin: 0;
        font-size: 1rem;
        position: relative;
        bottom: 15%;
    }

    section header h1{
        padding-left: 5%;
        font-size: 35px;
        position: relative;
        bottom: 10%;
        margin:0;
    }

    .preamble{
        grid-column: 1/15;
        grid-row: 3;
        border-radius: 0;
        background-size: 40%;
        background-position: 5%;
    }
    
    .requirements{
        grid-column: 1/15;
        grid-row: 3;
        border-radius: 0;
    }

    .explanation, .benefits{
        grid-column: 2/14;
        grid-row: auto;   
    }

    .benefits{
        background-image:none;
        padding:5%;
        
    }

    .participation{
        grid-column: 1/15;
        padding-left: 10%;
        background-image:url(triangle2.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 10%;
    }

    

    .requirements{
        grid-column: 1/15;
        top: 50%;
        grid-row:auto;
        background-image: none;
        padding: 12%;
    }
   
    footer{
        padding:3% 3% 3% 10%;
        top: 50%;
    }

    .design-selection{
        grid-column: 1/15;
        grid-row:auto;  
    }

    .design-selection h3{
        padding-left: 20%;
    }

    .design-archives{
        grid-column:3/15;
        grid-row: auto;
        padding-left: 5%;
    }

    .zen-resources{
        grid-column: 3/15;
        grid-row: 3/6;
        padding-left: 5%;
    }

    
}

@media only screen and (max-width: 880px){
    
    h3{
        font-size: 15px;
    }
    section{
        grid-column: 1/15;
        grid-row:auto;
    }

    section header{
        grid-column: 3/15;
        background-size: cover;
        flex-direction: column;
        padding:10% 0 0 5%;
        border-radius: 100px 0 0 100px;
    }

    section header h2{
        padding-left:5%;
        margin: 0;
        font-size: 1rem;
        position: relative;
        bottom: 15%;
    }

    section header h1{
        padding-left: 5%;
        font-size: 35px;
        position: relative;
        bottom: 10%;
        margin:0;
    }

    .preamble{
        grid-column: 1/15;
        grid-row: 3;
        border-radius: 0;
        background-size: 40%;
        background-position: 5%;
    }
    
    .requirements{
        grid-column: 1/15;
        
        border-radius: 0;
        bottom: 0;
        
    }

    .explanation, .benefits{
        grid-column: 2/14;
        grid-row: auto;   
    }

    .benefits{
        background-image:none;
        padding:5%;
        
    }

    .participation{
        grid-column: 1/15;
        padding-left: 10%;
        
    }

    

    .requirements{
        grid-column: 1/15;
        grid-row: auto;
        bottom: 0;
        grid-row:auto;
        background-image: none;
        padding:0 12% 0 12%;
        bottom: 0;

    }
   
    footer{
        padding:3% 3% 3% 10%;
        top: 50%;
    }

    .design-selection{
        grid-column: 1/15;
        grid-row:auto; 
        
    }

    .design-selection h3{
        padding-left: 20%;
    }

    .design-archives{
        grid-column:3/15;
        grid-row: auto;
        padding-left: 5%;
    }

    .zen-resources{
        grid-column: 3/15;
        grid-row: 3/6;
        padding-left: 5%;
    }

    


}


